.App {
  text-align: center;
  margin: 10px;
  padding:50px;
    
}



.title{
  
text-shadow:black 3px 3px;
  color: rgb(170, 14, 14);
  background-color:lightgray;
  font-weight: bolder;
  font-size: .35in;
 border-radius: 20px;
border-style: dotted;


}
.makeBigger{
  min-height: 15vh;
   color:black;
  background-color:lightgrey;
  text-shadow: rgb(170, 14, 14) 1px 1px;
 


}

#button{
  text-shadow: black 2px 2px;
  background-color: lightgrey;
  color:rgb(170, 14, 14);
  font-weight:900;

}


